/* Criação de variáveis - cor */
:root {
  --terracotta: #e07a5f;
  --sage: #81b29a;
  --mustard: #f2cc8f;
  --cream: #f4f1de;
  --charcoal: #3d405b;
}

/* Formatando os padrões da minha Página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Definindo Padrão para o corpo do meu site */
body {
  background: var(--cream);
  color: var(--charcoal);
  overflow-x: hidden; /* Serve para não criar um scroll horizontal */
}

/* Modern Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5rem 5%;
  background: #f4f1de93;
  backdrop-filter: blur(10px);
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logotipo-pizza {
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--terracotta);
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--charcoal);
  font-weight: 500;
  transition: color 1s;
}

.nav-links a:hover {
  color: var(--terracotta);
}

.cta-btn {
  background: var(--terracotta);
  color: var(--cream);
  padding: 0.5rem 2rem;
  border-radius: 35px;
  cursor: pointer;
  border: none;
  transition: transform 0.3s;
}

.cta-btn:hover {
  transform: translateY(-5px);
}

/* Modern Home Page */
