/* Criação de variáveis - cor */
:root {
  /* SEÇÃO MAIN E MENU DE NAV */
  --Button: #f9bc60;
  --Paragraph: #abd1c6;
  --Background: #004643;
  --Headline: #fffffe;
  --Buttontxt: #001e1d;

  /* SEÇÃO CARDÁPIO */
  --Jasper: #da5844;
  --background-seçãomenu: #abd1c6;
  --headline-seçãomenu: #001e1d;
  --subheadline-seçãomenu: #0f3433;
  --card-headline-seçãomenu: #fffffe;
  --card-background-seçãomenu: #004643;
  --card-paragraph-seçãomenu: #abd1c6;

  /* SEÇÃO Features */
}

/* Formatando os padrões da minha Página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Definindo Padrão para o corpo do meu site */
body {
  background: var(--Background);
  color: var(--Headline);
  overflow-x: hidden; /* Serve para não criar um scroll horizontal */
}

/* Modern Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5rem 5%;
  background: #00464391;
  backdrop-filter: blur(10px);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotipo-pizza {
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--Button);
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--charcoal);
  font-weight: 500;
  transition: color 1s;
}

.nav-links a:hover {
  color: var(--Button);
}

.cta-btn {
  background: var(--Button);
  color: var(--Buttontxt);
  padding: 0.5rem 2rem;
  border-radius: 35px;
  cursor: pointer;
  border: none;
  transition: transform 0.3s;
}

.cta-btn:hover {
  transform: translateY(-5px);
}

/* Modern Home Page */

.home {
  min-height: 100vh;
  padding: 8rem 5% 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
}

.home-content {
  max-width: 600px;
}

.home h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  line-height: 1;
  margin-bottom: 1.5rem;
}

.home h2 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1.5rem;
  font-style: italic;
  color: var(--Paragraph);
}

.home p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: var(--Paragraph);
}

.home-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-img img {
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s;
  filter: drop-shadow(26px 18px 25px rgba(36, 35, 35, 0.74));
}

.home-img:hover img {
  transform: scale(1.02);
}
