/* Criação de variáveis - cor */
:root {
  /* SEÇÃO MAIN E MENU DE NAV */
  --Button: #f9bc60;
  --Paragraph: #abd1c6;
  --Background: #004643;
  --Headline: #fffffe;
  --Buttontxt: #001e1d;

  /* SEÇÃO CARDÁPIO */
  --Jasper: #da5844;
  --background-seçãomenu: #abd1c6;
  --headline-seçãomenu: #001e1d;
  --subheadline-seçãomenu: #0f3433;
  --card-headline-seçãomenu: #fffffe;
  --card-background-seçãomenu: #004643;
  --card-paragraph-seçãomenu: #abd1c6;

  /* SEÇÃO Features */
}

/* Formatando os padrões da minha Página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Definindo Padrão para o corpo do meu site */
body {
  background: linear-gradient(135deg, var(--Background) 45%, var(--Buttontxt));
  color: var(--Headline);
  overflow-x: hidden; /* Serve para não criar um scroll horizontal */
}

/* Modern Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5rem 5%;
  background: #0046435b;
  backdrop-filter: blur(10px);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotipo-pizza {
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--Button);
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--charcoal);
  font-weight: 500;
  transition: color 1s;
}

.nav-links a:hover {
  color: var(--Button);
}

.cta-btn {
  background: var(--Button);
  color: var(--Buttontxt);
  padding: 0.5rem 2rem;
  border-radius: 35px;
  cursor: pointer;
  border: none;
  transition: transform 0.3s;
  transition: background 0.3s;
}

.cta-btn:hover {
  transform: translateY(-5px);
  background: #ffd9a0;
}

/* Modern Home Page */

.home {
  position: relative;
  min-height: 100vh;
  padding: 8rem 5% 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
  margin-bottom: -4rem;
}

.decor {
  position: absolute;
  pointer-events: none; /* se quiser que não atrapalhe cliques */
  z-index: 10; /* garante que fiquem por cima */
}

.decor-pizza {
  top: 55%;
  left: 1%;
  /* filter: blur(8px); */
  width: 40rem;
}

.decor-folha {
  top: 2%;
  left: 75%;
  width: 25rem;
  z-index: 11;
  filter: blur(5px);
}

.decor-folha-2 {
  top: 18%;
  left: 5%;
  width: 15rem;
  z-index: 11;
  filter: blur(2px);
  transform: rotate(-90deg);
}

.decor-folha-3 {
  top: 55%;
  left: 44%;
  width: 25rem;
  z-index: 11;
  filter: blur(1px);
  transform: rotate(180deg);
}

.decor-folha-4 {
  top: 2%;
  left: 40%;
  width: 25rem;
  z-index: 11;
  filter: blur(1px);
  transform: rotate(-60deg);
}

.home-content {
  max-width: 600px;
}

.home h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  line-height: 1;
  margin-bottom: 1.5rem;
}

.home h2 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1.5rem;
  font-style: italic;
  color: var(--Paragraph);
}

.home p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: var(--Paragraph);
}

.home-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.home-img img {
  height: 40rem;
  object-fit: cover;
  transition: transform 0.8s;
  filter: drop-shadow(26px 18px 25px rgba(36, 35, 35, 0.74));
}

/* RESPONSIVIDADE */

/* Telas menores que 1000px (Tablet e intermediárias) */
@media (max-width: 1300px) {
  .decor-pizza {
    display: none;
  }
}

@media (max-width: 1000px) {
  .decor-pizza,
  .decor-folha,
  .decor-folha-4,
  .decor-folha-2,
  .decor-folha-3 {
    display: none; /* ou reduzir tamanho */
  }

  .home {
    grid-template-columns: 1fr; /* só uma coluna */
    text-align: center;
    padding: 7rem 8% 4rem;
    gap: 2px;
  }

  .home-content {
    margin: auto;
  }

  .home-img {
    margin-top: 0;
  }

  .home-img img {
    height: 28rem;
  }

  .nav-links {
    gap: 12px;
  }

  .logotipo-pizza {
    font-size: 1.4rem;
  }

  .cta-btn {
    padding: 0.4rem 1.5rem;
    font-size: 0.9rem;
  }
}

/* Telas menores que 850px (Celulares) */
@media (max-width: 850px) {
  .nav-links,
  .cta-nav {
    display: none;
  }

  .logotipo-pizza {
    margin: auto;
  }

  .home h1 {
    font-size: 2rem;
  }

  .home h2 {
    font-size: 1rem;
  }

  .home p {
    font-size: 0.9rem;
  }

  .home-img img {
    height: 45vh;
  }
}

/* Modern MENU Page */

.Menu {
  background: var(--background-seçãomenu);
  border-top: 10px solid var(--Button);
  border-top-left-radius: 30% 10%;
  border-top-right-radius: 30% 10%;
  padding: 6rem 5%;
}

h2.cardapio {
  color: var(--headline-seçãomenu);
  font-size: 2.5rem;
  text-align: center;
  margin-top: -3rem;
  font-weight: 700;
}

h4.cardapio {
  color: var(--headline-seçãomenu);
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 4rem;
}

.menu-filters {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}

.btn-filter {
  background: transparent;
  border: 2px solid var(--card-background-seçãomenu);
  color: var(--card-background-seçãomenu);
  padding: 0.8rem 2.5rem;
  border-radius: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}

.btn-filter::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-25deg);
  transition: left 0.5s;
}

.btn-filter:hover::before {
  left: 130%;
}

.btn-filter.active,
.btn-filter:hover {
  background: var(--Buttontxt);
  color: var(--card-headline-seçãomenu);
}

.grid-content {
  max-width: auto;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.grid-pizza {
  margin-bottom: 85px;
}

.grid-list .grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.grid-list .grid-item .card-link {
  display: flex;
  align-items: center;
  height: 400px;
  width: 900px;
  user-select: none;
  background: #0046435b;
  padding: 40px;
  text-decoration: none;
  border-radius: 15px;
  gap: 20px;
  backdrop-filter: blur(10px);
  border: 5px solid transparent;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.05);
  translate: 0.2s;
}

.grid-list .grid-item .card-link:hover {
  border-color: var(--Buttontxt);
}

.grid-list .card-link .grid-img {
  width: 45%;
  border-radius: 15px;
  aspect-ratio: 16 / 14;
  object-fit: cover;
}

.grid-list .card-link .content-produto {
  color: var(--card-headline-seçãomenu);
}

.grid-list .card-link .content-produto .Price {
  color: var(--Jasper);
  background: var(--Button);
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 600;
  margin: 16px 0 18px;
  width: fit-content;
  border-radius: 25px;
}

.grid-list .card-link .content-produto .card-title {
  font-weight: 700;
  font-size: 1.98rem;
}

.grid-list .card-link .content-produto .p-produto {
  font-weight: 300;
  font-size: 0.8rem;
  font-style: italic;
  text-align: justify;
}

.grid-list .card-link .content-produto .card-button {
  margin: 28px 0 18px 85%;
  cursor: pointer;
  color: var(--Button);
  background: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: #f9bc60 solid;
}

.grid-list .card-link .content-produto:hover .card-button {
  background: var(--Button);
  color: var(--card-headline-seçãomenu);
}

.swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: var(--card-background-seçãomenu);
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--Buttontxt);
}

@media (max-width: 850px) {
  .Menu {
    border-top-left-radius: 200rem;
    border-top-right-radius: 200rem;
  }

  .Menu h2 {
    font-size: 210%;
    margin-top: 2rem;
  }

  .grid-list .grid-item {
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .grid-list .grid-item .card-link {
    max-width: 100%;
    flex-direction: column;
    height: 700px;
  }

  .swiper-wrapper {
    /* gap: 80px; */
  }

  .grid-list .card-link .grid-img {
    max-width: 100%;
    height: 300px;
    width: 450px;
    border-radius: 15px;
  }

  .grid-list .card-link .content-produto .card-button {
    margin: 28px 0 18px 40%;
  }
}
